.block{
    min-height: 110vh;
    background: rgb(245, 243, 243);
    padding-bottom: 7rem;
}

.Greeting{
    padding-top: 3.2rem;
    color: #0F2B5E;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    height: 4.8rem;
    text-align: center;
}


@media(max-width: 750px) {
    .block{
        display: grid;
        justify-content: center;  
        min-height: 100vh; 
    }

    .Greeting{
        display: none;
    }

}