* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AuthPage{
  position: relative;
  background-image: url('../../shared/images/BackgroundAuth.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 100vh;
  display: grid;
}

.AuthPage .logo{
  position: absolute;
  width: 10rem;
  z-index: 1;
  left: 50%;
  margin-top: 2rem;
  transform: translateX(-50%);
}

@media(max-width: 600px) {
  .AuthPage{
    background-image: url('../../shared/images/Mob_Back_Auth.png');
  }
  
  .AuthPage .logo{
    width: 10.4rem;
    left: 7rem;
  } 
}
