.Class {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 10.8rem;
    position: relative;
}

.Class .logo{
    width: 14rem;
    height: 4.8rem;
    position: absolute;
}

.Class .roundButton{
  background-color: transparent;
  border: none;
  margin-right: auto;   
}

.Class .but{
    width: 5.2rem;
    height: 5.2rem;
    margin-left: 4rem;
    margin-right: auto;   
}

.side-nav {
    top: 0;
    position: absolute;
    width: 3rem;
    left: -100rem;
    transition: left 1s ease;
}

.side-nav.open {
  left: 0;
}

.side-nav ul {
    background: white;
    display: flex;
    margin-left: 16.9rem;
    list-style: none;
    height: 10.8rem;
    gap: 9.4rem;
    width: 70rem;
}

.side-nav li {
  margin-top: 4.3rem;
}

.side-nav a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
}



@media(max-width: 600px) {
  .Class{
    height: 7.6rem;
  }

  .Class .logo{
    position: relative;
    margin-left: auto;
    margin-right: 2.8rem;
  }

  .Class .but{
    margin-left: 2.1rem;
  }
}