* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
}

.AuthPage{
  position: relative;
  background-image: url('../../shared/images/BackgroundAuth.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 100%;
}

.AuthPage .logo{
  position: absolute;
  width: 14.2rem;
  z-index: 1;
  left: 50%;
  margin-top: 3rem;
  transform: translateX(-50%);
}

.App{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  z-index: 0;
}

.App .form{
  background: #FFFFFF;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 49.6rem;
  border-radius: 4.3rem;
}

.App b{
  font-family: 'Mont', sans-serif;
  text-align: center;
  margin-top: 9.35rem;
  font-size: 4rem;
}

@media(max-width: 600px) {
  .AuthPage{
  position: relative;
  background-image: url('../../shared/images/BackgroundAuth.png'); /* как будет, заменить на другой фон */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 100%;
}

  .AuthPage .logo{
    width: 10.4rem;
    left: 6rem;
  } 

  .App .form {
    width: 24.2rem;
  }

  .App b{
    margin-top: 4.65rem;
    font-size: 1.8rem;
  }
}