.Review{

}

.Comp{
    display: grid;
    justify-content: center;
    align-items: center; 
    margin-top: 5.8rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

@media(max-width: 750px) {
    
}