.Nav {
    margin-top: 5rem;
    margin-bottom: 2.9rem;
    max-width: 49.5rem;
}

.Nav ul {
    display: flex;
    gap: 1.4rem;
}

.Nav li {
    list-style: none;
    font-family: 'Montserrat';
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.4);
    border: 0.2rem solid rgba(34, 34, 34, 0.2);
    border-radius: 2.4rem;
    padding: 1.4rem 2rem 1.2rem 2rem;
    cursor: pointer; /* Указатель на курсор при наведении */
}

.Nav li.active {
    color: red; 
    border-color: red;
}

@media(max-width: 750px) {
    .Nav {
        margin-top: 0rem;
        max-width: 27.8rem;
        margin-left: auto;
        margin-right: auto;
    }

    .Nav ul {
        gap: 1.4rem;
        flex-wrap: wrap;
    }

    .Nav li {
        font-size: 1.4rem;
        border: 0.1rem solid rgba(34, 34, 34, 0.2);
        padding: 1.4rem 2rem 1.2rem 2rem;

    }
}